.register-button{
    padding-top: 1rem;
    /* margin-top: 20px; */
}
.already{
    margin-top: 1rem;
}
.signup-form{
    width: 40vw;
}
.signup-content{
    display: flex;
    flex-direction: row;
}
.Regpic{
    margin-left: 3rem;
    flex-basis: 30%;
}
.col{
    border: 2px solid black;
    height: auto;
    
}
.logimg{
    width: 25rem;
    margin-top: 2rem;
    /* margin-left: 10rem; */
}
.row{
   
    margin-top: 4rem;
}

.card{
    width: 20vw;
  padding: 0.5rem;
  justify-content: center;
  justify-items: center;
}

.container_form{
    position: absolute;
    left: 20%;
    
    margin-top: 6rem;
    height: auto;
   width: 60vw;
   border: 1px solid gainsboro;
}

.Chead{
    margin-left: 4rem;
    margin-top: 1.5rem;
}
.home_page{
    position: fixed;
     width: 50%; 
    background-color: rgb(206, 233, 241);
    height: 100%;
}
.home_div{
    margin: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    text-justify: center;
}
.homeP{
    position: absolute;
    left: 40%;
    top: 50%;
    width: 60vw;
    
}
.homeH{
    position: absolute;
    left: 40%;
    top: 55%;
    width: 60vw;
    
}
.aboutImg{
    height: 15rem;
    width: 15rem;
}